@using System.Web.Mvc;
@{
    ViewBag.Title = "Razor";
}
<div ng-controller="blah">
    <h2>Razor</h2>
        @*<form method="post" action="/Basics/Index">
                @Html.AntiForgeryToken()
                <input type="email" name="name" value="" />
                <input type="password" name="password" value="" />
                <input type="password" name="passwordconfirmation" />
                <input type="submit" value="Submit!" />
        </form>*@
        <div class="form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.TextBox("name")
                @Html.Password("password")
                @Html.Password("passwordconfirmation")
                <input class="btn-danger" type="submit" value="Submit!" />
            }
        </div>
    <h4>Razor is... {{not_working}}</h4>
</div>